{% extends "base.html" %}
{% load static %}
{% block content %}


    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{docente.nome}}</h3>
                </div>
                <div class="panel-body">
                    <img class="img-responsive" src="{% static "user.jpg" %}"/>
                </div>
                <div class="panel-body list-group">
                    <span class="list-group-item">
                        Lotacao: {{docente.lotacao}}
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <canvas id="myChart" height="100"></canvas>
            <script>
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [
                        {{chart.labels|safe}}
                    ],
                    datasets: [{
                        label: 'Salário Líquido (R$)',
                        data: [{{chart.values|safe}}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
            </script>

            {% if chart.missing %}
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Dados faltando!</strong>
                    <p>Os dados de folha de pagamento para os meses:
                    {% for missing in chart.missing %}
                        {{missing}}
                    {% endfor %}não foram encontrados
                    </p>
                </div>
            {% endif %}

            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Mês/Ano</th>
                        <th>Bruto</th>
                        <th>Indenizações</th>
                        <th>Redutor</th>
                        <th>Descontos Legais</th>
                        <th>Líquido</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reg in docente.folha %}
                    <tr>
                        <td>{{reg.mes}}/{{reg.ano}}</td>
                        <td>R${{reg.bruto}}</td>
                        <td>R${{reg.indenizacoes}}</td>
                        <td>R${{reg.redutor}}</td>
                        <td>R${{reg.descontos_legais}}</td>
                        <td>R${{reg.liquido}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>




        </div>
    </div>

{% endblock %}