{% extends "base.html" %}
{% load static %}
{% block content %}

<canvas id="myChart" height="100"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'scatter',
    data: {
        labels: [
            {{chart.labels|safe}}
        ],
        datasets: [{
            label: 'Salário Líquido Docentes Ativos (R$)',
            data: [{{chart.docente_ativo|safe}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        },
        {
            label: 'Salário Líquido Docentes Aposentados (R$)',
            data: [{{chart.docente_aposentado|safe}}],
            backgroundColor: [
                'rgba(255, 132, 99, 0.2)',
                'rgba(54, 235, 162, 0.2)',
                'rgba(255, 86, 206, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 255, 102, 0.2)',
                'rgba(255, 64, 159, 0.2)'
            ],
            borderColor: [
                'rgba(99,255,132,1)',
                'rgba(162, 54,  235,1)',
                'rgba(206,255, 86, 1)',
                'rgba(192,75, 192,  1)',
                'rgba(102,153, 255,  1)',
                'rgba(159,255, 64,  1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>


{% endblock %}